<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>User</title>
</head>
<body>
<div>
    <p>
        <a href="/user/new">Создать пользователя</a>
    </p>
    <table>
        <tr>
            <td>Имя</td>
            <td>Почта</td>
            <td>Возраст</td>
        </tr>
        <th:block th:each="user : ${users}">
            <tr>
                <td><a th:href="@{/user?id={id}(id=${user.getId()})}" th:text="${user.getFirstName() + ' ' + user.getLastName()}"></a></td>
                <td th:text="${user.getEmail()}"></td>
                <td th:text="${user.getAge()}"></td>
                <td><a th:href="@{/user/edit?id={id}(id=${user.getId()})}" th:text="Изменить"></a></td>
                <td>
                    <form th:method="DELETE" th:action="@{/user?id={id}(id=${user.getId()})}">
                        <input type="submit" value="Удалить">
                    </form>
                </td>
            </tr>
        </th:block>
    </table>
</div>
</body>
</html>